<a href="https://colab.research.google.com/github/salwazahra/Tugas-import-data-csv/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [5]:
df = pd.read_csv('sample_data/Data Kelas Sains Data (3).csv')
print(df)

          NPM                                           NAMA
0   184220001                            Mhd. Haikal Baihaqi
1   184220002                                Gilang Al-Raffi
2   184220003                             Siti Salwa Azzahra
3   184220004              Maria Bernadina B. Cintany Lustin
4   184220005                        Muhamad Rafif Al-Hafizh
5   184220007                             Paulina Bota Kolin
6   184220008                            L.M.Aznur Syahfajar
7   184220010                             Mylo Aleffa Rahman
8   184220011                             Sabrina Nur Anisah
9   184220012                      Muhammad Vito Aristawidya
10  184220013                                Firna Ulfiani R
11  184220015                    Muhammad Reefy Hidayatullah
12  184220019                        Aulia Rahmadiva Wardana
13  184220021                             Maysa Zaidee Aulia
14  184220022                           NAUFAL PANJI PURNOMO
15  184220023                Salsa Paringga Pangestu Ningsih
16  184220024                             Nita Sawalia Fitri
17  184220025  Christopher Damar Nugroho Amizeno Ranga Sogen
18  184220026                           Fahriza Aulia Rahman
19  184220027                                  Ridla Ashrina
20  184220028                   Gabriella Mustika Anugraheni
21  184220029                          Thiodas Heni Pakpahan
22  184220030                               Aldi Daim Fauzan
23  184220031                           NASYWA NUR HANDAYANI
24  184220032                                          Yusuf
25  184220033                      Raditio Ananto Hargiyanto

NameError: ignored